<h1>Products from affiliate API</h1>
<% if @products %>
  <div class="products">

    <!-- If API changes products, new products will be added to our DB, so make sure we only display 10 at a time -->

    <% @products.last(10).each do |product| %>
      <div class="product">
        <%= link_to product.name, product.url %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="products processing">
    <p>Fetching products, wait a moment ...</p>

    <!-- Fetch via Ajax later -->

  </div>
<% end %>
